Hello guys! This is my notebook for Applied Data Science Capstone course

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [64]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [68]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

table = data[0]
table.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [ ]:
Drop all rows with

In [77]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

# Get Borough indexes for which column Age has value 'Not assigned'
dropCondition = table[ table['Borough'] == 'Not assigned' ].index
# Delete these row indexes from table
table.drop(dropCondition , inplace=True)
table.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

No duplictae row of Postal Code in this dataframe

In [76]:
# More than one neighborhood can exist in one postal code area.

duplicateRowsDF = table[table.duplicated(['Postal code'])]
duplicateRowsDF

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

No Neighborhood with value 'Not assigned'

In [79]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

print(table.loc[table['Neighborhood'] == 'Not assigned'])

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [81]:
table.shape

(103, 3)