Hello guys! This is my notebook for Applied Data Science Capstone course

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

<h1>Submission 1</h1>

In [112]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [113]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

table = data[0]
table.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Drop all rows where Borough's value is 'Not assigned'

In [133]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

# Get Borough indexes for which column Age has value 'Not assigned'
dropCondition = table[ table['Borough'] == 'Not assigned' ].index
# Delete these row indexes from table
table.drop(dropCondition , inplace=True)
table = table.reset_index(drop=True)
table.columns = ['Postal Code', 'Borough', 'Neighborhood']
table.head()

  Postal Code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

No duplictae row of Postal Code in this dataframe

In [116]:
# More than one neighborhood can exist in one postal code area.

duplicateRowsDF = table[table.duplicated(['Postal code'])]
duplicateRowsDF

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

No Neighborhood with value 'Not assigned'

In [117]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

print(table.loc[table['Neighborhood'] == 'Not assigned'])

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [118]:
table.shape

(103, 3)

<h1>Submission 2</h1>

In [121]:
CoordsData = pd.read_csv('Geospatial_Coordinates.csv')

In [122]:
CoordsData.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [145]:
table2 = pd.merge(table, CoordsData, on='Postal Code')
table2.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494

<h1>Submission 3</h1>